# OpenAI API key
OPENAI_API_KEY=your-openai-api-key-here

# Optional

# Eembedding model (default: text-embedding-3-large)
CARTA_EMBEDDING_MODEL=text-embedding-3-large

# Output directory (default: output/)
CARTA_OUTPUT_DIR=./output

# Logging level (default: INFO)
CARTA_LOG_LEVEL=INFO 